.containCards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #ff620a;
  width: 400px;
}

.cards {
  max-width: 213px;
  height: 171px;
  border-radius: 10px;
  border: 1px solid #f08508;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: 0.5s;
  transition-delay: 0.1s;
}

.cards:hover {
  background-color: #eca85abe;
}

.cards h1 {
  font-size: 1.2em;
}

.containerSelects {
  margin: 3% 20%;
  display: flex;
  gap: 200px;
}

.containerItem {
  display: flex;
  color: black;
}

.containerItem img {
  width: 250px;
  height: 150px;
}

.containerItem p {
  margin-left: 5%;
  font-size: 20px;
  width: 200px;
}
